version: '3'
services:
  vector:
    image: timberio/vector:latest-debian
    container_name: vector
    volumes:
      - /opt/docker_compose/Vector/vector.yaml:/etc/vector/vector.yaml:ro
      - /var/log/nginx:/var/log/nginx:ro
    tmpfs:
      - /var/lib/vector
    depends_on:
      - clickhouse
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "50m"
        max-file: "2"
